<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team Profile Generator</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Krona+One&display=swap" rel="stylesheet">
</head>
<body>

    <div class="jumbotron" style="color:white; background-color:red;">
        <h1 class="display-4 text-center" style="font-weight:bolder;">My Team</h1>
    </div>

    <div class="card" style="width: 18rem; float:left; margin:10px;">
        <div class="card-img-top"></div>
        <div class="card-body">
          <h5 class="card-title header-card">Name</h5>
          <h5 class="card-title header-card">Position</h5>
          <p class="card-text header-body">ID</p>
          <p class="card-text header-body">EMAIL</p>
          <p class="card-text header-body">GITHUB</p>
        </div>
      </div>

      <div class="card" style="width: 18rem; float:left; margin:10px;">
        <div class="card-img-top"></div>
        <div class="card-body">
          <h5 class="card-title header-card">${this.name}</h5>
          <h5 class="card-title header-card">${this.role}</h5>
          <p class="card-text header-body">${this.id}</p>
          <p class="card-text header-body">${this.email}</p>
          <p class="card-text header-body">${this.school}</p>
        </div>
      </div>
      
</body>
</html>